/* feuille de style pour le premier repo */

body {
    background-color: aquamarine;
}

h1{
    colo:red;
    background-color: white; 
}
p {
    background-color: orange; 
    color:white;
}
p { 
    color:blue;
}

